<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <style>
        body {
           display:flex;
           justify-content: center;
           align-items: center;
        }
        form{
             margin:100px auto;
             padding:160px;
        }
    </style>
</head>
<body>
    <form action="http://localhost/Atelier8_9/controller/userController.php?action=login" method="post" name="connexion">
        <div class="cls1" style="float: left;width: 130px;margin-top: 2%">
            <label for="psd" name="email">votre Login :</label><br><br>
            <label for="psd" name="password">Password :</label><br><br>
        </div>
        <input type="email" name="email"  placeholder="Votre" required><br><br>
        <input type="password" name="password"  placeholder="Mot de passe" required ><br><br>
        <input type="submit" value="Connexion" >
    </form>
    
</body>
</html>